# MariaDB
MYSQL_ROOT_PASSWORD=V8nLXwx2JZl6d0Xl2YHk
MYSQL_PASSWORD=Lu8AEN4xTrDcuUQHTjRE
MYSQL_DATABASE=LTYhqu1
MYSQL_USER=C5gDM8l
MYSQL_HOST=db

# Nextcloud
VIRTUAL_HOST=localhost
LETSENCRYPT_HOST=me@localhost
LETSENCRYPT_EMAIL=me@localhost
